<section class="section">
  <div class="container">
    <h2 class="title">ПРОЦЕС 3D СКАНУВАННЯ</h2>
    <ul class="scan-list">
      <li class="scan-list-item">
        <div class="scan-list-canvas">
          <svg class="scan-list-icon">
            <use href=""></use>
          </svg>
          <p class="descr">Підготовка деталі до сканування</p>
        </div>
      </li>
      <li class="scan-list-item">
        <div class="scan-list-canvas">
          <svg class="scan-list-icon">
            <use href=""></use>
          </svg>
          <p>Підготовка деталі до сканування</p>
        </div>
      </li>
      <li class="scan-list-item">
        <div class="scan-list-canvas">
          <svg class="scan-list-icon">
            <use href=""></use>
          </svg>
          <p>Підготовка деталі до сканування</p>
        </div>
      </li>
      <li class="scan-list-item">
        <div class="scan-list-canvas">
          <svg class="scan-list-icon">
            <use href=""></use>
          </svg>
          <p>Підготовка деталі до сканування</p>
        </div>
      </li>
    </ul>
  </div>
</section>
