<!-- <section class="decor">
  <div class="decor__wrapper container">
    <div class="decor__block9 block-tab"></div>
    <div class="decor__block10 block-tab"></div>
    <div class="decor__block11 block-tab"></div>
    <div class="decor__block12 block-tab"></div>
    <div class="decor__block13 block-tab"></div>
    <div class="decor__block14 block-tab"></div>
    <div class="decor__block15 block-tab"></div>
    <div class="decor__block16 block-tab"></div>
    <div class="decor__block17 block-tab"></div>
    <div class="decor__block18 block-tab"></div>
    <div class="decor__block19 block-tab"></div>
    <div class="decor__block20 block-tab"></div>
    <div class="decor__block21 block-tab"></div>
    <div class="decor__block22 block-tab"></div>
    <div class="decor__block23 block-tab"></div>
    <div class="decor__block24 block-tab"></div>
    <div class="decor__block25 block-tab"></div>
    <div class="decor__block26 block-tab"></div>
    <div class="decor__block27 block-tab"></div>
    <div class="decor__block28 block-tab"></div>
    <div class="decor__block29 block-tab"></div>
    <div class="decor__block30 block-tab"></div>
    <div class="decor__block31 block-tab"></div>
    <div class="decor__block32 block-tab"></div>
    <div class="decor__block33 block-tab"></div>
  </div>
</section> -->
