<section class="process-section">
  <div class="container">
    <h2 class="process_title visually-hidden">Process Description</h2>
    <ul class="process_list list">
      <li class="process__item item">
        <picture>
          <source
            srcset="
              ./images/print/desktop/bgi-printing-service.png    1x,
              ./images/print/desktop/bgi-printing-service@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/print/tablet/bgi-printing-service.png    1x,
              ./images/print/tablet/bgi-printing-service@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/print/mobile/bgi-printing-service.png    1x,
              ./images/print/mobile/bgi-printing-service@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="process__picture"
            src="./images/print/mobile/bgi-printing-service.png"
            alt="3D-друк"
          />
        </picture>
        <div class="process__content">
          <p class="process__paragraph">
            <span class="process__paragraph--blue">3D друк</span> - ми
            використовуємо FDM технологію друку. Вона представляє собою пошарове
            формування об'єкта за допомогою 3D принтера.
          </p>
          <p class="process__paragraph">
            Моделі для створення розроблюються дизайнерами в спеціальному
            програмному забезпеченні: системах автоматизованого проектування.
          </p>
          <p class="process__paragraph">
            3D друк знайшов широке застосування в архітектурі, промисловості,
            маркетингу, мистецтві і багатьох інших сфер.
          </p>

          <button type="button" class="button-order button">
            <a href="./order.html" class="page-nav__link">зробити замовлення</a>
          </button>
        </div>
      </li>
      <li class="process__item item">
        <picture>
          <source
            srcset="
              ./images/print/desktop/bgi-modeling-services.png    1x,
              ./images/print/desktop/bgi-modeling-services@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/print/tablet/bgi-modeling-services.png    1x,
              ./images/print/tablet/bgi-modeling-services@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/print/mobile/bgi-modeling-services.png    1x,
              ./images/print/mobile/bgi-modeling-services@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="process__picture"
            src="./images/print/mobile/bgi-modeling-services.png"
            alt="3D-моделювання"
          />
        </picture>
        <div class="process__content">
          <p class="process__paragraph">
            <span class="process__paragraph--blue">3D-моделювання</span> - це
            процес розробки математичного уявлення будь-якої поверхні об'єкта в
            трьох вимірах за допомогою спеціалізованого програмного
            забезпечення.
          </p>
          <p class="process__paragraph">
            Наші дизайнери зпроектують будь-який виріб виходячи з ваших
            побажань.
          </p>
          <p class="process__paragraph">
            Розуміючи специфіку 3D друку і ваших задач ми створимо деталь яка
            повністю задовольнить ваші потреби.
          </p>

          <button type="button" class="button-order button">
            <a href="./order.html" class="page-nav__link">зробити замовлення</a>
          </button>
        </div>
      </li>
      <li class="process__item item">
        <picture>
          <source
            srcset="
              ./images/print/desktop/bgi-scanning-services.png    1x,
              ./images/print/desktop/bgi-scanning-services@2x.png 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./images/print/tablet/bgi-printing-service.png     1x,
              ./images/print/tablet/bgi-scanning-services@2x.png 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./images/print/mobile/bgi-scanning-services.png    1x,
              ./images/print/mobile/bgi-scanning-services@2x.png 2x
            "
            media="(max-width: 767px)"
          />
          <img
            class="process__picture"
            src="./images/print/mobile/bgi-scanning-services.png"
            alt="3D-сканування"
          />
        </picture>
        <div class="process__content">
          <p class="process__paragraph">
            <span class="process__paragraph--blue">3D-сканування</span> - зняття
            даних, шляхом аналізу форми предмета і на основі отриманих даних
            створення її 3D-моделі.
          </p>
          <p class="process__paragraph">
            Це універсальний інструмент, який дозволяє отримати як і просто
            3D-модель для візуалізації в цифровому вигляді, так і 3D-модель для
            подальшого її друку на 3D-принтері.
          </p>
          <button type="button" class="button-order button">
            <a href="./order.html" class="page-nav__link">зробити замовлення</a>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
