.gallary__backdrop {
    display: none;

    &.is-surfaced {
        display: block;
    }

    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: rgba(43, 43, 43, 0.8);
}


.gallary__image.is-surfaced {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    z-index: 200;

    @include mq($width-tablet) {
        min-width: 554px;
        min-height: 369px;
    }

    @include mq($width-desktop) {
        min-width: 906px;
        min-height: 605px;
    }
}


.is-surfaced .gallary__btn-next,
.is-surfaced .gallary__btn-prev {
    display: block;
}



.gallary__image {
    @include mq($width-tablet) {
        min-width: 554px;
        min-height: 369px;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #ffffff;
    }

    @include mq($width-desktop) {
        min-width: 906px;
        min-height: 605px;
    }
}

.gallary__btn-prev {
    position: absolute;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @include mq($width-tablet) {
        top: 50%;
        left: -47px;
    }

    @include mq($width-desktop) {
        top: 50%;
        left: -74px;
    }
}

.gallary__btn-next {
    cursor: pointer;
    position: absolute;
    background-color: transparent;
    border: none;
    right: 50%;
    right: -21px;

    @include mq($width-tablet) {
        top: 50%;
            right: -47px;
    }

    @include mq($width-desktop) {
        top: 50%;
        right: -74px;
    }
}

.arrow-previous__icon,
.arrow-next__icon {
    fill: #ffffff;

    @include mq($width-tablet) {
        width: 26px;
        height: 26px;
    }

    @include mq($width-desktop) {
        width: 42px;
        height: 42px;
    }

    &:hover,
    &:focus {
        fill: #dbd6d6;
    }
}